body{
  background:#eee;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

 /*p>img{
   width: 100px;
 } 

 p.teste{
   width: 100px;
 } 
 */
@media (max-width: 767.98px) {  

  .img-responsive{
        width: calc(100% + 30px);
        height: auto;
        margin-left: -15px;
        margin-right: -15px;
        max-width: none;
    }

    p>img{
       width: calc(100% + 30px);
        height: auto;
        margin-left: -15px;
        margin-right: -15px;
        max-width: none;
    }

    .pad-2{
      padding: .5rem!important;
    }
}

